* {
  box-sizing: border-box;
}

a {
  color: #0087ff;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  color: #333;
  background: url("../img/background.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.container {
  margin: auto;
  max-width: 1024px;
  margin-bottom: 3em;
  background-color: #f6f6f6;
  padding: 2em;
  border: 2px solid black;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  padding: 0.2em 1em;
  background-color: #005953;
  color: #fff;
  text-align: right;
}

.hidden {
  display: none;
}

.button-link {
  text-align: center;
}

.button-link a,
button {
  border: none;
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #005953;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.button-link a.disabled,
button:disabled {
  cursor: not-allowed;
  background-color: lightgray;
}

.button-link a:active,
button:active {
  top: 0.1em;
}

fieldset button {
  padding: 0;
}

#countdown-container {
  text-align: center;
  font-size: 1.2em;
}

#countdown {
  font-size: 1.2em;
}

.helptext {
  max-height: 0;
  transition: max-height 0.5s;
  margin: 0 0 0 30%;
  padding-left: 0.5em;
  overflow: hidden;
}

.expanded .helptext {
  max-height: 15em;
}

label span,
.options span {
  display: inline-block;
  width: 30%;
  font-weight: bold;
  text-align: right;
  padding: 0.3em;
  color: #555;
  vertical-align: top;
}

fieldset {
  margin: 1em 0;
}

fieldset legend {
  font-size: 1.2em;
}

fieldset div {
  margin: 0.5em 0;
}

fieldset input,
fieldset select,
fieldset textarea {
  padding: 0.5em;
  width: 40%;
  border: 1px solid lightgray;
  border-radius: 2px;
  height: 1.8rem;
}

fieldset textarea {
  height: 4rem;
}

fieldset select {
  padding: 0 0.3em;
}

fieldset button,
fieldset input {
  height: 1.8rem;
}

fieldset button {
  width: 1.8rem;
  vertical-align: top;
}

.options > div {
  display: inline-block;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
}

.options label {
  display: inline-block;
  width: 371px;
}

.options label *,
td label * {
  vertical-align: middle;
}

.options label span {
  width: initial;
  font-weight: normal;
}

.options > div {
  margin: 0;
}

.options > div > div:first-child {
  margin-top: 0;
}

.options > div > div:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tbody tr td:first-child {
  width: 30%;
  background-color: lightgray;
}

table tbody tr td:not(:first-child) {
  text-align: center;
}

td,
th {
  border: 1px solid lightgray;
}

table label span {
  width: auto;
}

fieldset div.helptext-container {
  margin: 0;
  display: none;
}

fieldset div.helptext-container.expanded {
  display: block;
}

th {
  background-color: lightgray;
}

th:last-child,
td:last-child {
  background-color: transparent;
  border: none;
}

th * {
  display: block;
}

.invalid {
  border: 1px solid #ff5555;
  background-color: #ffdddd;
  color: #880000;
}

h1 a {
  font-size: 0.6em;
}

fieldset input[data-field="zip"] {
  width: 10%;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

fieldset input[data-field="city"] {
  width: 30%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.options .helptext,
.helptext-container .helptext {
  margin: 0;
}
