.no-edit h1 > :not(:first-child) {
  display: none;
}

.no-submit .confirm_checkbox,
.no-submit #countdown-container,
.no-submit .submit > button {
  display: none;
}

fieldset > div,
fieldset div {
  margin: 0;
}

fieldset {
  width: 45%;
  margin: 1em 1em;
  display: inline-block;
  vertical-align: top;
}

fieldset > div > span:first-child {
  display: inline-block;
  width: 30%;
  font-weight: bold;
  text-align: right;
  padding: 0.3em;
  color: #555;
}

fieldset > div > span:last-child {
  padding: 0.3em;
  display: inline-block;
  vertical-align: top;
  width: 65%;
}

#options,
#packages {
  width: 65%;
}

#options > span,
#packages > span {
  width: 100%;
  display: block;
  font-weight: normal;
  text-align: left;
  color: #333;
}

table tbody tr td:first-child {
  background-color: transparent;
}

.submit {
  text-align: center;
  margin-top: 1em;
}

.confirm_checkbox label > * {
  vertical-align: middle;
}

.confirm_checkbox label > input {
  width: 2.5rem;
  height: 2.5rem;
}

.confirm_checkbox label > span {
  width: 90%;
  text-align: left;
}

.confirm_checkbox label > input + span {
  outline: 1px solid #ff5555;
  background-color: #ffdddd;
  color: #880000;
}

.confirm_checkbox label > input:checked + span {
  outline: none;
  background: inherit;
  color: inherit;
}

.confirm_checkbox label > span > * {
  display: inline;
  padding: 0;
  vertical-align: baseline;
}

.hidden {
  display: none;
}

#server-error pre {
  text-align: left;
}

pre {
  border: 1px solid lightgray;
  background-color: white;
  padding: 1em;
}
