fieldset > div,
fieldset div {
  margin: 0;
}

fieldset {
  width: 45%;
  margin: 1em 1em;
  display: inline-block;
  vertical-align: top;
}

fieldset > div > span:first-child {
  display: inline-block;
  width: 30%;
  font-weight: bold;
  text-align: right;
  padding: 0.3em;
  color: #555;
}

fieldset > div > span:last-child {
  padding: 0.3em;
  display: inline-block;
  vertical-align: top;
  width: 65%;
}

#options,
#packages {
  width: 65%;
}

#options > span,
#packages > span {
  width: 100%;
  display: block;
  font-weight: normal;
  text-align: left;
  color: #333;
}

table tbody tr td:first-child {
  background-color: transparent;
}

.submit {
  text-align: center;
  margin-top: 1em;
}

.confirm_checkbox > * {
  vertical-align: middle;
}

.confirm_checkbox > input {
  width: 1.2rem;
  height: 1.2rem;
}

.confirm_checkbox > span {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
}
