fieldset input,
fieldset select,
fieldset textarea {
  border: none;
  background: none;
  color: #333;
  cursor: default;
}

fieldset input:focus,
fieldset select:focus,
fieldset textarea:focus {
  outline: none;
}

fieldset select,
fieldset textarea {
  -webkit-appearance: none;
  resize: none;
}

fieldset > div,
fieldset div {
  margin: 0;
}

fieldset {
  width: 45%;
  margin: 1em 1em;
  display: inline-block;
  vertical-align: top;
}

.options > div {
  width: 65%;
}

.options > div:empty {
  content: "--";
  display: inline-block;
}

table tbody tr td:first-child {
  background-color: transparent;
}

fieldset input[type="checkbox"] {
  display: none;
}
